#container{
    width: 80vw;
    border: 1px solid wheat;
    margin: 20px auto;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

input{
    font-size: 1.8rem;
}